# =============================================
# Test Site
# =============================================
source ../../.envrc
export TF_ADDRESS="${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/terraform/state/azure-test-site"
export TF_HTTP_ADDRESS=$TF_ADDRESS
export TF_HTTP_LOCK_ADDRESS=$TF_HTTP_ADDRESS/lock
export TF_HTTP_UNLOCK_ADDRESS=$TF_HTTP_ADDRESS/lock

export TF_VAR_azure_subscription="$AZURE_SUBSCRIPTION_PRO"

export TF_VAR_aks_admin_username="aksuser"
export TF_VAR_aks_admin_public_key_path="/home/jim/.ssh/aks_admin.pub"
export TF_VAR_foundation_state_address="${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/terraform/state/azure-foundation"
export TF_VAR_kubernetes_state_address="${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/terraform/state/azure-kubernetes"

export TF_VAR_kube_config_path="$KUBECONFIG"
